/pyinstall/
/venv/
/maf/examples/results/
/maf/examples/cut/
/maf/examples/.cache/
/maf/mixlearn/.cache/
/maf/mixlearn/results/
.pytest_cache
/.idea
/python38.src/
/python39.src/
/python38.src.tgz
/python39.src.tgz
/results_artificial/
