/pyinstall/
/venv/
/maf/dim2/results/
/maf/dim2/cut/
/maf/dim2/.cache/
/maf/mixlearn/.cache/
/maf/mixlearn/results/
.pytest_cache
/.idea
/python38.src/
/python39.src/
/python38.src.tgz
/python39.src.tgz
/results_*/
/results_mnist/